// MENU

.menu {
  width: 100%;

  display: flex;
  justify-content: space-between;

  padding: 48px 16px;

  background-color: $black-dark;
  /*
  position: fixed;
  top: 0;
  z-index: 1000;
  */
}

.hamburguer {
  position: relative;
  display: none;

  width: 35px;
  height: 35px;

  cursor: pointer;
}

.hamburguer span {
  display: block;

  width: 33px;
  height: 4px;
  margin-bottom: 5px;

  position: relative;

  background: #fff;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.8s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.hamburguer-check[type='checkbox'] {
  display: none;
}

.hamburguer-check[type='checkbox']:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(5px, 5px);
}

.hamburguer-check[type='checkbox']:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg) translate(0px, 0px);
}

.hamburguer-check[type='checkbox']:checked ~ span:nth-of-type(3) {
  opacity: 0;
  transform-origin: bottom;
  transform: translate(45px, 40px) rotatez(5deg);
  transition: 100ms;
}

.hamburguer span:first-child {
  transform-origin: 0% 0%;
}

.hamburguer span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.hamburguer:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}

.hamburguer:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.hamburguer:checked ~ span:nth-last-child(2) {
  transform: rotate(-2255deg) translate(0, -1px);
}

@media screen and (max-width: 960px) {
  .hamburguer {
    display: block;
    z-index: 2;
  }

  .navBar {
    position: fixed;
    right: -100%;
    top: 0;

    z-index: 0;

    height: 100vh;
    width: 100%;

    transition: all 500ms ease-in-out;
  }

  .menu-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navBar.active {
    right: 0;
    top: 0;
  }
}

// CONTAINER

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.relative {
  position: relative;
}

.container {
  max-width: 1220px;

  margin: 0 auto;

  padding: 24px 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.hero {
  height: 90vh;
}

@media screen and (max-width: 960px) {
  .hero {
    height: auto;
  }

  .container {
    flex-direction: column;
  }
}

.container-item:nth-child(1) {
  flex-grow: 3;

  margin: 40px 0px;
}
.container-item:nth-child(2) {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 40px 0px;

  img {
    max-width: 400px;
  }
}

.bg-hero {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  border: 0px solid green;

  overflow: hidden;
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .svg-hero {
    transform: scale(1.5) rotate(25deg);
  }
}
@media screen and (max-width: 960px) {
  .svg-hero {
    transform: scale(2) rotate(25deg);
  }
}

// SELECTED WORKS

.bb-gray {
  width: 100%;

  border-bottom: 1px solid $black-light;
}

.list-item {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .list-item {
    flex-direction: column;
  }

  .list-title {
    margin-bottom: 40px;
  }
}

.list-title {
  display: flex;
  align-items: center;
}

.img-project {
  width: 100%;
  max-width: 720px;
  border-radius: 4px;
}

.about {
  display: flex;
  flex-direction: column;
}

.get {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  max-width: 1200px;

  margin: 0 auto;
  padding: 16px 24px;
}

.get-item {
  display: flex;
  justify-content: space-between;

  width: 150px;
}

.svg:hover {
  animation: up 2s ease;
}

@keyframes up {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
}

.works {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: column;
}

// ANIMATIONS

.js-scroll {
  opacity: 0;

  transition: 0.3s;

  transform: translate3d(-30px, 0, 0);
}

.js-scroll.active {
  opacity: 1;

  transform: translate3d(0px, 0, 0);

  transition: 0.3s;
}

/*
#bg-heroline1 {
  //stroke-dasharray: 100 100 !important;
  animation: linha1 4s linear infinite alternate;
}

#bg-heroline2 {
  //stroke-dasharray: 50 100 !important;
  // animation: linha2 1s ease infinite alternate;
}

#bg-heroline3 {
  //stroke-dasharray: 10 100 !important;
  //animation: linha3 2s ease infinite alternate;
}

@keyframes linha1 {
  0% {
    stroke-dasharray: 0 100;
  }
  100% {
    stroke-dasharray: 1000 0;
  }
}

@keyframes linha2 {
  0% {
    stroke-dasharray: 0 100;
  }
  100% {
    stroke-dasharray: 100 0;
  }
}

@keyframes linha3 {
  0% {
    stroke-dasharray: 0 100;
  }
  100% {
    stroke-dasharray: 100 0;
  }
}
*/
